<?xml version="1.0"?>
<config>
    <modules>
        <MageFM_Correios>
            <version>1.0.1</version>
        </MageFM_Correios>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_head>MageFM_StaticVersioning_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <models>
            <core>
                <rewrite>
                    <design_package>MageFM_StaticVersioning_Model_Core_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
    </global>
</config>